/** BODY CSS**/
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial;
}
.body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica", Arial;

}

/*NAVBAR CSS*/
.navbar{
    padding: 14px 0px;
    background: #fff;
}
.container{ /*Adds padding at the side for all elements*/
    padding: 0px 150px;
}
.navbar .container{

    background: #fff;
}
.navbar a{
    text-decoration: none;
    padding: 14px 20px;
    color: #f5a71f;
    text-align: center;
    background: #fff;
}
.navbar ul{
    display: flex;
    justify-content: flex-end;
    background: #fff;
}
.navbar li{
    float: right;
    list-style-type: none;
    font-size: 26px;
    font-family: "Helvetica", Arial;
    font-weight: bolder;

    background: #fff;
}
.navbar .active{
    background: #e61e29;
    padding: 5px 15px;
    border-radius: 20px;
}
.logo{
    float: left;
    vertical-align: center;
    margin-left: -70px;
    background: #fff;
    padding: 0 20px 10px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
}

/*Header CSS*/
.heading{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 56px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{ /*Border*/
    content:""; /*invisible element*/
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #e61e29;
}
.heading p{
    width: 70%;
    font-size: 24px;
    margin-bottom: 30px;
}
.heading-border{
    height: 50px;
    background: linear-gradient(rgb(255, 255, 255),
    rgba(0, 0, 0, 0.3));
    ;
}

/*MENU CSS*/
.menu-list{
    overflow: hidden;
    padding: 20px 100px;
    max-width: 500px;
    margin: auto;
    background-image: linear-gradient(to right, #fff, rgba(0, 0, 0, 0.3) , #fff);
}
.menu-list h2, .menu-list p{
    text-align: center;
}
.menu-list h2{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
}
.menu-list p{
    display: inline-block;
    justify-content: space-between;
    margin: 5px 0px;
}
.product{
    text-align: left;
    margin-left: 0;
}

.price{
    text-align: right;
    width: 30%;
    m
}