/** BODY CSS**/
.body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    background-color: #f5a71f;
}

/** NAVBAR CSS**/
.navbar {
    background-color: #ddd;
    display: flex;
    padding: 20px 0;
}
.navbar .container{
    margin-left: auto;
    margin-right: auto;
}
.logo{
    display: inline-block;
}
.navbar ul{
    list-style-type: none; /*Removes bullets/numbering*/
    margin: 0;
    padding: 0;
    overflow: hidden; /*Prevents overflow*/
}
.navbar li{
    display: inline; /*Make horizontal*/
    padding: 10px; /*Spacing between*/
    text-transform: uppercase;
    font-family: "Helvetica";
    font-weight: bolder;
    font-size: 26px;
}
.navbar a{
    text-decoration: none;
    color: #f5a71f;
}

/*HERO CSS*/
.hero{
    padding: 50px;
    border: 0;
}
.hero-title{
    font-family: "Helvetica";
    font-weight: bolder;
    font-size: 56px;
    inline-size: 450px;
}
