/** BODY CSS**/
*{
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica";;
    background-color: #f5a71f;
}

/** NAVBAR CSS**/
.navbar {
    background-color: #ddd;
    display: flex;
}
.container{ /*Adds padding at the side for all elements*/
    margin-left: auto;
    margin-right: auto;
    padding: 20px 150px;
}
.logo{
    display: inline-block;
    vertical-align: middle;
}
.navbar ul{
    list-style-type: none; /*Removes bullets/numbering*/
    margin: 0;
    padding: 0;
    overflow: hidden; /*Prevents overflow*/
}
.navbar li{
    display: inline; /*Make horizontal*/
    padding: 10px; /*Spacing between*/
    text-transform: uppercase;
    font-family: "Helvetica";
    font-weight: bolder;
    font-size: 26px;
}
.navbar a{
    text-decoration: none;
    color: #f5a71f;
}

/*HERO CSS*/
.hero{
    padding: 0;
    border: 0;
}
.hero-image{
    background-image: linear-gradient(rgba(0,0,0,0.8),
    rgba(0,0,0,0.4)),
    url("img/hero.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 100px 0;

}
.hero-title{
    padding-left: 0px;
    font-family: "Helvetica";
    font-weight: bolder;
    font-size: 56px;
    inline-size: 450px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}

.hero-btn{
    text-decoration: none;
    font-size: 26px;
    font-family: Helvetica;
    font-weight: bolder;
    color: #fff;
    background: #f5a71f;
    padding: 10px 30px;
    border-radius: 15px;
    margin-left: 250px;
    display: inline-block;

}
